
#bot-ui-console {
  overflow: auto;
  height: 400px;
  line-height: 120%;
}

tr.bot-ui-join {
  color: #009000;;
}

tr.bot-ui-leave, tr.bot-ui-quit {
  color: #900000;
}

tr.bot-ui-error {
  color: #900000;
  font-weight: bold;
}

tr.bot-ui-action {
  color: #000090;
  font-style: italic;
}

tr.bot-ui-ping {
  font-weight: bold;
  color: #9000ff;
}

ul#bot-ui-user-list {
  line-height: 100%;
  max-height: 300px;
  overflow: scroll;
}